---
/**
 * Renders a responsive code comparison grid (3 columns on desktop).
 * Each slot is named: tussel, strudel, tidal
 */
---
<div class="code-comparison">
  <div class="code-panel">
    <h4>Tussel</h4>
    <slot name="tussel" />
  </div>
  <div class="code-panel">
    <h4>Strudel</h4>
    <slot name="strudel" />
  </div>
  <div class="code-panel">
    <h4>Tidal</h4>
    <slot name="tidal" />
  </div>
</div>
